body{
    background-color: aquamarine;
}
.kart_1{
border-radius: 30px;
}
.text_1{
    display: inline-block;
    font-size: 30px;
    height: 80px;
    border-radius: 25px;

}
.text_2{
    display: inline;
    font-size: 30px;
    height: 80px;
    margin-top: 120px;
    margin-left: -749px;
    border-radius: 25px;

    position: absolute

}
.button_1{
    position: absolute;
    font-size: 30px;
    height: 80px;
    margin-top: 120px;
    margin-left: -340px;
    width: 300px;
    transition: border-radius 0.3s;
}
.button_2{
    position: absolute;
    width: 120px;
    height: 80px;
    margin-top: -400px;
    margin-left: 200px;
    font-size: 20px;
    transition: border-radius 0.3s;
}
.button_3{
    position: absolute;
    width: 120px;
    height: 80px;
    margin-top: -300px;
    margin-left: 200px;
    font-size: 20px;
    transition: border-radius 0.3s;
}

.button_1:hover,.button_2:hover,.button_3:hover{
    background-color: black;
    color: white;
    animation: changeBorderRadius 1.5s; /* Applying animation on hover */
}

@keyframes changeBorderRadius {
    0% {
        border-radius: 0px;
    }
    100% {
        border-radius: 30px; /* Change border-radius to desired value after 5 seconds */
    }
}
.yazı_1{
    position: absolute;
    margin-left: 500px;
    margin-top: -410px;
    font-size: 100px;
}
.yazı_2{
    position: absolute;
    margin-left: 490px;
    margin-top: -210px;
    font-size: 80px;
}

.yazı_3{
    position: absolute;
    margin-left: 1100px;
    margin-top: -230px;
    font-size: 80px;
}


